<div class="box box-edit-form" id="blog-article-form" data-slugify="{{ path('api_slugify')}}">
    <input type="hidden" id="blog-article-date-format" value="{{ dateFormat }}"  data-dateVal="{{ dateVal }}"/>
    {{ form_start(form, {'attr': {'class': 'edit-form'}} ) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.handle) }}
        {{ form_row(form.dateToPublish, {'attr': {'class': 'dateSelect'}}) }}
        {{ form_row(form.products) }}

        {% block additional_fields %}
        {% endblock %}

        <div class="row">
            {% embed "TrinityAdminBundle:Form:form_layout.html.twig" %}
                {% block form_row_label_content %}
                    <div style="display: none;">{{ form_label(form.content) }}</div>
                {% endblock %}

                {% block form_row_content %}
                    <div class="froala-tall">{{ form_widget(form.content) }}</div>
                {% endblock %}
            {% endembed %}
        </div>

        {{ form_row(form.submit, {'attr': {'class': 'button button-success button-save'}} ) }}
    {{ form_end(form) }}
</div>
