{% block cell__id %}
    {{ row.getId() }}
{% endblock %}

{% block cell_id %}
    {{ value }}
{% endblock %}

{% block cell_title %}
    <a title="Go to {{ row.getTitle() }}" href="{{ path('admin_blog_article_tabs', {'id':row.getId()}) }}">
        {{ value }}
    </a>
{% endblock %}

{% block cell_handle %}
    {{ value }}
{% endblock %}

{% block cell_categories %}
    {% for category in value %}
        <a href="{{ path('admin_category_tabs',{'id':category.id}) }}" >{{ category.name }}</a>
        {% if not loop.last %},{% endif %}
    {% endfor %}
{% endblock %}

{% block cell_tags %}
    {% for tag in value %}
        <a href="{{ path('admin_tag_tabs',{'id':tag.id}) }}" >{{ tag.name }}</a>
        {% if not loop.last %},{% endif %}
    {% endfor %}
{% endblock %}

{% block cell_products %}
    {% for product in value %}
        <a href="{{ path('admin_product_tabs',{'id':product.id}) }}" >{{ product.name }}</a>
        {% if not loop.last %},{% endif %}
    {% endfor %}
{% endblock %}

{% block cell_details %}
    <a href="{{ path('admin_blog_article_tabs',{'id':row.getId()}) }}" class="button-small pull-right margin-right-10">Get details</a>
{% endblock %}