{% block cell__id %}
    {{ row.getId() }}
{% endblock %}

{% block cell_id %}
    {{ value }}
{% endblock %}

{% block cell_title %}
    {{ value }}
{% endblock %}

{% block cell_handle %}
    {{ value }}
{% endblock %}

{% block cell_products %}

    {% for product in value %}
        <a href="{{ path('admin_product_tabs',{'id':product.id}) }}" >{{ product.name }}</a>
        {% if not loop.last %},{% endif %}
    {% endfor %}

    {#todo: @DavidCzernin try to uncomment code below. The content is wider than the available space for it#}
    {#{% for product in value %}#}
        {#<a href="{{ path('admin_product_tabs',{'id':product.id}) }}" >{{ product.name }}</a>#}
        {#{% if not loop.last %},{% endif %}#}
    {#{% endfor %}#}

    {#{% for product in value %}#}
        {#<a href="{{ path('admin_product_tabs',{'id':product.id}) }}" >{{ product.name }}</a>#}
        {#{% if not loop.last %},{% endif %}#}
    {#{% endfor %}#}
{% endblock %}

{% block cell_details %}
    <a href="{{ path('admin_blog_article_tabs',{'id':row.getId()}) }}" class="button-small pull-right margin-right-10">Get details</a>
{% endblock %}