{% extends('VeniceAdminBundle::BlogArticle/base.html.twig') %}

{% block stylesheets  %}
    {% include("VeniceAdminBundle:Common:froalaEditorStylesheets.html.twig") %}
    <link rel="stylesheet" type="text/css" media="screen" href="/js/node_modules/react-widgets/dist/css/react-widgets.css"/>
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    New blog article
{% endblock %}

{% block pageAction %}
    {{ parent() }}
    {% include "VeniceAdminBundle:Common:goUpAction.html.twig" with {"url": path("admin_blog_article_index"), "tooltip": "Go back to blog articles"} %}
{% endblock %}

{% block pageBody %}
    <div class="box box-new-form" id="blog-article-form" data-slugify="{{ path('api_slugify')}}">

        <input type="hidden" id="blog-article-date-format" value="{{ dateFormat }}"/>

        <div class="row">
            <div class="span-none-padding-medium-24">
                {% if error is defined %}
                    <div id="error">{{ error }}</div>
                {% endif %}
            </div>
        </div>

        {{ form_start(form, {'attr': {'class': 'new-form'}} ) }}
            {% block formRow %}
                {{ form_errors(form) }}

                {{ form_row(form.title) }}
                {{ form_row(form.handle) }}
                {{ form_row(form.BlogArticleChild) }}
                {{ form_row(form.dateToPublish, {'attr': {'class': 'dateSelect'}}) }}

                {% if product_count>0 %}
                    {{ form_row(form.products) }}
                {% else %}
                    <div style="display: none;">
                        {{ form_row(form.products) }}
                    </div>

                    <div class="row">
                        {% embed "TrinityAdminBundle:Form:form_layout.html.twig" %}
                            {% block form_row_label_content %}
                                {{ form_label(form.products) }}
                            {% endblock %}

                            {% block form_row_input_content %}
                                <span class="text">
                                    <a href="{{ path('admin_product_new') }}">No products created, click here to add one</a>
                                </span>
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endif %}

                <div class="row">
                    {% embed "TrinityAdminBundle:Form:form_layout.html.twig" %}
                        {% block form_row_label_content %}
                            <div style="width: 0;">{{ form_widget(form.content) }}</div>
                        {% endblock %}
                        
                        {% block form_row_content %}
                            {{ form_widget(form.content) }}
                        {% endblock %}
                    {% endembed %}
                </div>
            {% endblock %}

        {{ form_row(form.submit, {'attr': {'class': 'button button-success button-save'}} ) }}
        {{ form_end(form) }}

    </div>

{% endblock %}