{% extends "VeniceAdminBundle::BlogArticle/base.html.twig" %}

{% block pageTitle %}
    Blog article {{ article.title }}
{% endblock %}

{% block stylesheets  %}
    {% include("VeniceAdminBundle:Common:froalaEditorStylesheets.html.twig") %}
    <link rel="stylesheet" type="text/css" media="screen" href="/js/node_modules/react-widgets/dist/css/react-widgets.css"/>
    {{ parent() }}
{% endblock %}

{% block pageBody %}
    <div class="tabs-wrapper">
        {% if is_granted('ROLE_ADMIN_BLOG_VIEW') %}
            <input type="radio" name="tab" id="tab1" class="tab-head" checked />
            <label for="tab1">Show</label>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_BLOG_EDIT') %}
            <input type="radio" name="tab" id="tab2" class="tab-head" />
            <label for="tab2">Edit</label>

            <input type="radio" name="tab" id="tab3" class="tab-head" />
            <label for="tab3">Danger zone</label>
        {% endif %}

        <div class="tab-body-wrapper">
            {% if is_granted('ROLE_ADMIN_BLOG_VIEW') %}
                <div id="tab-body-1" class="tab-body" data-source="{{ path('admin_blog_article_show', {'id': article.id}) }}"></div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN_BLOG_EDIT') %}
                <div id="tab-body-2" class="tab-body" data-source="{{ path('admin_blog_article_edit', {'id': article.id}) }}"></div>
                <div id="tab-body-3" class="tab-body" data-source="{{ path("admin_blog_article_delete_tab", {'id': article.id}) }}"></div>
            {% endif %}
        </div>
    </div>

{% endblock %}