<div class="box box-new-form" id="product_form" data-slugify="{{ path('api_slugify')}}">
    <div class="row">
        {{ form_start(form, {'attr': {'class': 'edit-form'}} ) }}
        {{ form_errors(form) }}

        {# Render all form rows except the submit input #}
        {% for key, item in form.children if key != "submit"%}
            {{ form_row(form[key]) }}
        {% endfor %}

        {{ form_row(form.submit, {'attr': {'class': 'button button-success button-save'}} ) }}
        {{ form_end(form) }}
    </div>
</div>
