{% block cell__id %}
    {{ row.getId() }}
{% endblock %}

{% block cell_id %}
    {{ value }}
{% endblock %}

{% block cell_name %}
    <a title="Go to {{ value }}" href="{{ path('admin_product_tabs',{'id':row.getId()}) }}" class="uppercase">{{ value }}</a>
{% endblock %}

{% block cell_defaultBillingPlan %}
    {% if row.type == "standard" %}
        {% if row.getDefaultBillingPlan() %}
            {{ row.getDefaultBillingPlan().price }}
        {% else %}
            No default billing plan
        {% endif %}
    {% else %}
        The product is free
    {% endif %}
{% endblock %}


{% block cell_type %}
    {{ value }}
{% endblock %}

{% block cell_details %}
    <a href="{{ path('admin_product_tabs',{'id':row.getId()}) }}" class="button-small pull-right margin-right-10">Get details</a>
{% endblock %}
