{% extends('VeniceAdminBundle::Product/base.html.twig') %}

{% block pageTitle %}
    New free product
{% endblock %}

{% block pageAction %}
    {{ parent() }}
    {% include "VeniceAdminBundle:Common:goUpAction.html.twig" with {"url": path("admin_product_index"), "tooltip": "Go back to products"} %}
{% endblock %}


{% block pageBody %}
    <div class="box box-new-form">
        <div class="row">
            <div class="span-none-padding-medium-24">
                {% if error is defined %}
                    <div id="error">{{ error }}</div>
                {% endif %}
            </div>
        </div>

        <div id="product_form" class="row"  data-slugify="{{ path('api_slugify') }}">
            {{ form_start(form, {'attr': {'class': 'new-form'}} ) }}
            {{ form_errors(form) }}

            {# Render all form rows except the submit input #}
            {% for key, item in form.children if key != "submit"%}
                {{ form_row(form[key]) }}
            {% endfor %}

            {{ form_row(form.submit, {'attr': {'class': 'button create'}} ) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}