<div class="product-show">
    <table class="record_properties grid">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Handle</th>
                <td>{{ product.handle }}</td>
            </tr>
            <tr>
                <th>Venice description</th>
                <td>{{ product.description }}</td>
            </tr>

            {% if product.type == 'standard' %}
                <tr>
                    <th>Necktie description</th>
                    <td>{{ product.necktieDescription }}</td>
                </tr>
            {% endif %}

            {% if product.type == "standard" %}
                <tr>
                    <th>Necktie id</th>
                    <td>{{ product.necktieId }}</td>
                </tr>
                <tr>
                    <th>Default billing plan</th>
                    <td>
                        {% if product.getDefaultBillingPlan() %}
                            {{ product.getDefaultBillingPlan().price }}
                        {% else %}
                            No billing plan
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ product.enabled|humanBool }}</td>
            </tr>
            <tr>
                <th>Order number</th>
                <td>{{ product.orderNumber }}</td>
            </tr>
        </tbody>
    </table>
</div>
