{% extends('@TrinityAdmin/extend_layout.html.twig') %}

{% block headerJavascripts %}
    {#Some helper settings#}
    <script src="{{ asset('js/lib/abbreviations.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500italic,700,900,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset("assetic/necktie_icons.css") }}"/>
{% endblock %}


{% block trinity_admin_script_footer %}

    {# FOR TOM: NEVER EVER REMOVE THIS!#}
    {% block necktieJavascript %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        {#Necktie JS#}
        {% if app.environment is same as('dev') or app.environment is same as('test') %}
            {#Uncompiled#}
            <script src="{{ asset('js/node_modules/lodash/lodash.js') }}"></script>
            <script src="{{ asset('js/node_modules/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('js/node_modules/react/dist/react.js') }}"></script>
            <script src="{{ asset('js/node_modules/react-dom/dist/react-dom.js') }}"></script>
            <script src="{{ asset('js/node_modules/flux/dist/Flux.js') }}"></script>
            {#<script src="{{ asset('js/node_modules/dragula/dist/dragula.js') }}"></script>#}
            <script src="{{ asset('js/node_modules/history/umd/History.js') }}"></script>
            <script src="{{ asset('js/node_modules/moment/moment.js') }}"></script>
            <script src="{{ asset('js/dist/venice.bundle.js') }}"></script>
        {% else %}
            {#Compiled#}
            <script src="{{ asset('js/dist/venice.bundle.min.js') }}"></script>
            {#<script src="{{ asset('js/dist/necktie.styles.min.css') }}"></script>#}
        {% endif %}

        {#@todo @RichardBures delete#}
        {#Admin JS#}
        {# SORTABLE js is for drag and drop sorting  - will be used in future inside Dashboard probably#}
        {#<script src="{{ asset('js/lib/Sortable.min.js') }}"></script>#}

        {# WEBSHIMS - Needed for HTML5 form features in older browsers#}
        {#<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>#}
        {#<script>#}
        {#//  webshims.setOptions('forms-ext', {types: 'date'});#}
        {#// webshims.polyfill('forms forms-ext');#}
        {#</script>#}
    {% endblock %}

    {{ parent() }}
{% endblock %}

{#disable loading bar#}
{% block page_loading %}
{% endblock %}

{% block sidebar_user %}

    <div class="body-text margin-top-5">

        <div class="user-photo">
            <i class="trinity trinity-user"></i>
        </div>

        Logged user:
        <a href="{{ path("admin_user_tabs", {'id': app.user.id }) }}">
            {{ app.user.username}}
        </a>
    </div>

    <div class="margin-top-10"> </div>

    <h4> User info:</h4>

    <ul class="tab-list">
        {% if app.user.getFullName() %}
            <li>
                <i class="trinity-user"></i>
                {{ app.user.getFullName() }}
            </li>
        {% endif %}

        <li>
            <i class="trinity trinity-mail"></i>
            {{ app.user.email }}
        </li>

        <li>
            <i class="trinity trinity-calendar"></i>
            <strong>Registered: </strong> - {{ app.user.createdAt|date(get_setting('date')) }}
        </li>
        <li>
            <i class="trinity trinity-calendar"></i>
            <strong>Last login: </strong> - {{ app.user.lastLogin|date(get_setting('date')) }}
        </li>
    </ul>

    <div class="alert alert-info margin-top-50">
        <i class="trinity trinity-info alert-icon"></i>
            <span class="alert-content">
                If you want to change information,
                <a href="{{ path("admin_user_tabs", {'id': app.user.id }) }}">
                    click here.
                </a>
            </span>
    </div>
{% endblock %}
