{% extends('TrinityAdminBundle::extend_layout.html.twig') %}

{% block headerJavascripts %}
    {#Some helper settings#}
{% endblock %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500italic,700,900,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset("assetic/necktie_icons.css") }}"/>
{% endblock %}


{% block trinity_admin_script_footer %}

    {% block veniceJavascript %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        {#Necktie JS#}
        {% if app.environment is same as('dev') or app.environment is same as('test') %}
            {#Uncompiled#}
            <script src="{{ asset('js/dist/vendor.bundle.js') }}"></script>
            <script src="{{ asset('js/dist/venice.bundle.js') }}"></script>
        {% else %}
            {#Compiled#}
            <script src="{{ asset('js/dist/venice.bundle.min.js') }}"></script>
            <script src="{{ asset('js/dist/venice.styles.min.css') }}"></script>
        {% endif %}
    {% endblock %}

    {{ parent() }}
{% endblock %}

{#disable loading bar#}
{% block page_loading %}
{% endblock %}

{% block user_label %}
    <span class="user-name">
        {{ app.user.username }}
        <i class="tiecons tiecons-player-play-negative"></i>
    </span>

    <div class="user-photo">
        {#{% set photo = app.user.avatar | toS3Url %}#}
        {#{% if photo %}#}
        {#<img id="avatar-photo" src="{{ photo }}">#}
        {#{% else %}#}
        <i class="trinity trinity-profile"></i>
        {#{% endif %}#}
    </div>
{% endblock %}

{% block sidebar_user %}
    <ul class="quick-links">
        <li>
            <a title="Edit user profile" href="{{ path("admin_user_tabs", {'id': app.user.id }) }}">
                <i class="tiecons tiecons-user font-14 padding-14"></i>
                User Profile
            </a>
        </li>
        <li>
            <a title="Log out" href="{{ path("fos_user_security_logout") }}">
                <i class="tiecons tiecons-power-button font-14 padding-14"></i>
                Log out
            </a>
        </li>
    </ul>
{% endblock %}