{% extends('@TrinityAdmin/extend_layout.html.twig') %}

{% block headerJavascripts %}
    {#Some helper settings#}
{% endblock %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500italic,700,900,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset("assetic/necktie_icons.css") }}"/>
{% endblock %}


{% block trinity_admin_script_footer %}

    {% block veniceJavascript %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        {#Necktie JS#}
        {% if app.environment is same as('dev') or app.environment is same as('test') %}
            {#Uncompiled#}
            <script src="{{ asset('js/dist/vendor.bundle.js') }}"></script>
            <script src="{{ asset('js/dist/venice.bundle.js') }}"></script>
        {% else %}
            {#Compiled#}
            <script src="{{ asset('js/dist/venice.bundle.min.js') }}"></script>
            <script src="{{ asset('js/dist/venice.styles.min.css') }}"></script>
        {% endif %}
    {% endblock %}

    {{ parent() }}
{% endblock %}

{#disable loading bar#}
{% block page_loading %}
{% endblock %}

{% block sidebar_user %}

    <div class="body-text margin-top-5">

        <div class="user-photo">
            <i class="trinity trinity-user"></i>
        </div>

        Logged user:
        <a href="{{ path("admin_user_tabs", {'id': app.user.id }) }}">
            {{ app.user.username}}
        </a>
    </div>

    <div class="margin-top-10"> </div>

    <h4> User info:</h4>

    <ul class="tab-list">
        {% if app.user.getFullName() %}
            <li>
                <i class="trinity-user"></i>
                {{ app.user.getFullName() }}
            </li>
        {% endif %}

        <li>
            <i class="trinity trinity-mail"></i>
            {{ app.user.email }}
        </li>

        <li>
            <i class="trinity trinity-calendar"></i>
            <strong>Registered: </strong> - {{ app.user.createdAt|date(get_setting('date')) }}
        </li>
        <li>
            <i class="trinity trinity-calendar"></i>
            <strong>Last login: </strong> - {{ app.user.lastLogin|date(get_setting('date')) }}
        </li>
    </ul>

    <div class="alert alert-info margin-top-50">
        <i class="trinity trinity-info alert-icon"></i>
        <span class="alert-content">
                If you want to change information,
                <a href="{{ path("admin_user_tabs", {'id': app.user.id }) }}">
                    click here.
                </a>
            </span>
    </div>
{% endblock %}