{% extends('VeniceAppBundle::base.html.twig') %}

{% block body %}
    <h2>Product {{ product.name }}</h2>
    <h3>Demo: all contentProducts of product with information about availability orderNumber and delay</h3>
    <ul>
        {% for contentProduct in product.contentProducts %}
            <li>
                contentName: {{ contentProduct.content.name }}
                available: {{ contentProduct.isAvailableFor(app.user)|humanBool }}
                orderNumber: {{ contentProduct.orderNumber }}
                delay: {{ contentProduct.delay }}

            </li>
        {% endfor %}
    </ul>

    <h3>Demo: only available content - simplified method without information about orderNumber and delay</h3>
    {% for contentProduct in product.availableContentProducts(app.user)  %}
        {% set content = contentProduct.content %}

        {#The filter renderDefault renders the default template for the content#}
        {{ content|renderDefault }}

    {% else %}
        <h1>No content in there...</h1>
    {% endfor %}

{% endblock %}