{% extends('VeniceAppBundle::base.html.twig') %}

{% block body %}
    <a href="{{ path('front_product_index') }}">Back to list of products</a>

    {% if app.user.hasAccessToProduct(product) %}
        <a href="{{ path("front_product_demo", {"id": product.id}) }}">To another demo for this product</a>
    {% endif %}

    <h2>Product {{ product.name }}</h2>
    <img src="{{ product.image }}">

    {% if app.user.hasAccessToProduct(product) == false %}
        <h2>You do not have an access to this product</h2>
        <p>But you can buy it here!:{% include "VeniceFrontBundle:Common:buyLink.html.twig" with {"url": urlGenerator.generateBuyUrl(product, null, false, 'cb'), "text": "ClickBank" } %}</p>
    {% else %}


        <h3>Demo: all contentProducts of product with information about availability orderNumber and delay</h3>
        <ul>
            {% for contentProduct in product.contentProducts %}
                <li>
                    contentName: {{ contentProduct.content.name }}
                    available: {{ contentProduct.isAvailableFor(app.user)|humanBool }}
                    orderNumber: {{ contentProduct.orderNumber }}
                    delay: {{ contentProduct.delay }}
                </li>
            {% endfor %}
        </ul>

        <h3>Demo: only available content - simplified method without information about orderNumber and delay</h3>
        {% for contentProduct in product.availableContentProducts(app.user)  %}
            {% set content = contentProduct.content %}

            {#The filter renderDefault renders the default template for the content#}
            {{ content|renderDefault }}

        {% else %}
            <h1>No content in there...</h1>
        {% endfor %}

    {% endif %}

{% endblock %}