<h3>Video content - {{ content.name }}</h3>

<a href="{{ content.videoMobile }}">Play in mobile quality</a>
<a href="{{ content.videoLq }}">Play in low quality</a>
<a href="{{ content.videoHq }}">Play in high quality</a>
<a href="{{ content.videoHd }}">Play in high definition</a>