{% if entity.type == "iframe" or entity.type == "html" %}
    <div id="content-edit">
        <div class="box box-new-form">
            {{ form_start(form, {'attr': {'class': 'edit-form'}} ) }}
            <div class="row">
                {{ form_errors(form) }}

                {# Render all form rows except the submit input #}
                {% for key, item in form.children if key != "submit" and key != "html" %}
                    {{ form_row(form[key]) }}
                {% endfor %}
            </div>
            {{ form_widget(form.html) }}
            {{ form_row(form.submit, {'attr': {'class': 'button edit'}} ) }}
            {{ form_end(form) }}
        </div>
    </div>
{% else %}
    <div id="content-edit">
        <div class="box box-new-form">
            <div class="row">
                {{ form_start(form, {'attr': {'class': 'edit-form'}} ) }}
                {{ form_errors(form) }}

                {# Render all form rows except the submit input #}
                {% for key, item in form.children if key != "submit" %}
                    {{ form_row(form[key]) }}
                {% endfor %}

                {{ form_row(form.submit, {'attr': {'class': 'button edit'}} ) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endif %}
