{% block cell__id %}
    {{ row.getId() }}
{% endblock %}

{% block cell_id %}
    {{ value }}
{% endblock %}

{% block cell_name %}
    {{ value }}
{% endblock %}

{% block cell_type %}
    {{ value }}
{% endblock %}

{% block cell_details %}
    <a href="{{ path('admin_content_tabs',{'id':row.getId()}) }}" class="button-small  margin-none-all">Get details</a>
{% endblock %}
