{% if contentType == "iframe" or contentType == "html" %}
    <div class="box box-new-form">
        {{ form_start(form, {'attr': {'class': 'new-form'}} ) }}
        {{ form_errors(form) }}

        {# Render all form rows except the submit input and html input #}
        {% for key, item in form.children if key != "submit" and key != "html" %}
            {{ form_row(form[key]) }}
        {% endfor %}


        <div class="row">
            {% embed "TrinityAdminBundle:Form:form_layout.html.twig" %}
                {% block form_row_label_content %}
                    <div style="width: 0;">
                        {{ form_widget(form.html) }}
                    </div>
                {% endblock %}

                {% block form_row_content %}
                    {{ form_widget(form.html) }}
                {% endblock %}
            {% endembed %}
        </div>

        {{ form_row(form.submit, {'attr': {'class': 'button button-success button-save'}} ) }}
        {{ form_end(form) }}
    </div>
{% else %}
    <div class="box box-new-form">
        <div class="row">
            {{ form_start(form, {'attr': {'class': 'new-form'}} ) }}
            {{ form_errors(form) }}

            {# Render all form rows except the submit input #}
            {% for key, item in form.children if key != "submit" %}
                {{ form_row(form[key]) }}
            {% endfor %}

            {{ form_row(form.submit, {'attr': {'class': 'button button-success button-save'}} ) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endif %}
