<div class="content-show">
    <table class="record_properties grid">
        <tbody>
            <tr>
                <th>Duration</th>
                <td>{{ content.duration }}</td>
            </tr>
            <tr>
                <th>Preview image link</th>
                <td><a href="{{ content.previewImage }}">{{ content.previewImage }}</a></td>
            </tr>
            <tr>
                <th>Video mobile</th>
                <td>{{ content.videoMobile }}</td>
            </tr>
            <tr>
                <th>Video LQ</th>
                <td>{{ content.videoLq }}</td>
            </tr>
            <tr>
                <th>Video HQ</th>
                <td>{{ content.videoHq }}</td>
            </tr>
            <tr>
                <th>Video HD</th>
                <td>{{ content.videoHd }}</td>
            </tr>
        </tbody>
    </table>
</div>
