{% block cell__id %}
    {{ row.getId() }}
{% endblock %}

{% block cell_id %}
    {{ value }}
{% endblock %}

{% block cell_product %}
    <a href="{{ path("admin_product_tabs", {"id": row.product.id}) }}">{{ value.name }}</a>
{% endblock %}

{% block cell_orderNumber %}
    {{ value }}
{% endblock %}

{% block cell_delay %}
    {{ value }}
{% endblock %}

{% block cell_content %}
    {{ value.name }}
{% endblock %}

{% block cell_details %}
    <a href="{{ path("admin_content_content_product_tabs", {"id": row.getId()}) }}"
       class="button-small pull-right margin-right-10">Get details</a>
{% endblock %}
