{% extends(':AdminBundle:adminBase.html.twig') %}

{% block pageBody %}
    <div class="box box-new-form">

        <h2 class="header-h2 form-title">
            {%  block formTitle %}
                New product
            {% endblock %}
        </h2>

        <div class="row">
            <div class="span-none-padding-medium-24">
                {% if error is defined %}
                    <div id="error">{{ error }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% block formRow %}
                {{ form_start(form, {'attr': {'class': 'new-form'}} ) }}
                {{ form_errors(form) }}

                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.image) }}
                {{ form_row(form.enabled) }}
                {{ form_row(form.orderNumber) }}

                {{ form_row(form.submit, {'attr': {'class': 'button create'}} ) }}

                {{ form_end(form) }}
            {% endblock %}
        </div>
    </div>

{% endblock %}