{% extends ":AdminBundle:adminBase.html.twig" %}

{% block pageTitle %}
    {{ product.type|capitalize }} product {{ product.name }}
{% endblock %}

{% block pageIcon %}
    <i class="trinity trinity-page-list"></i>
{% endblock %}

{% block pageBody -%}

    <div class="tabs-wrapper margin-top-20">
        <input type="radio" name="tab" id="tab1" class="tab-head" checked />
        <label for="tab1">Show</label>

        {% if is_granted('ROLE_ADMIN_PRODUCT_EDIT') %}
            <input type="radio" name="tab" id="tab2" class="tab-head" />
            <label for="tab2">Edit</label>

            {% if product.type == "standard" %}
                <input type="radio" name="tab" id="tab3" class="tab-head" />
                <label for="tab3">Billing plan</label>
            {% endif %}

            <input type="radio" name="tab" id="tab4" class="tab-head" />
            <label for="tab4">Danger zone</label>
        {% endif %}

        <div class="tab-body-wrapper">
            <div id="tab-body-1" class="tab-body" data-source="{{ path('admin_product_show', {'id': product.id}) }}"></div>
            {% if is_granted('ROLE_ADMIN_PRODUCT_EDIT') %}
                <div id="tab-body-2" class="tab-body" data-source="{{ path('admin_product_edit', {'id': product.id}) }}"></div>
                {% if product.type == "standard" %}
                    <div id="tab-body-3" class="tab-body" data-source="{{ path('admin_billing_plan_product_index', {'id': product.id}) }}"></div>
                {% endif %}
                <div id="tab-body-4" class="tab-body" data-source="{{ path('admin_product_delete_tab', {'id': product.id}) }}"></div>
            {% endif %}
        </div>
    </div>

{% endblock %}

