<div class="box box-new-form">
    <div class="row">
        {{ form_start(form, {'attr': {'class': 'edit-form'}} ) }}
        {{ form_errors(form) }}

        {{ form_row(form.product) }}
        {{ form_row(form.fromDate) }}
        {{ form_row(form.toDate) }}
        {{ form_row(form.user) }}

        {{ form_row(form.submit, {'attr': {'class': 'button edit'}} ) }}

        {{ form_end(form) }}
    </div>
</div>
