{% block cell__id %}
    {{ row.getId() }}
{% endblock %}

{% block cell_id %}
    {{ value }}
{% endblock %}

{% block cell_necktieDefault %}

    {#the BP is ncktie default#}
    {% if row.getProduct().getNecktieDefaultBillingPlan() and row.getId() == row.getProduct().getNecktieDefaultBillingPlan().getId %}
        <div class="is-default" id="is-default-id-{{ row.getId()}}">
            <i class="trinity trinity-yes"></i>
        </div>

    {% else %}

        <div class="is-default" id="is-default-id-{{ row.getId()}}">
            <i class="trinity trinity-close"></i>
        </div>

    {% endif %}
{% endblock %}

{% block cell_veniceDefault %}
    {#it is done in react BillingPlanGrid.jsx #}
    {% if row.getProduct().getVeniceDefaultBillingPlan() and row.getId() == row.getProduct().getVeniceDefaultBillingPlan().getId %}
        <input type="hidden" data-state="is" data-href="{{ path('admin_billing_plan_product_set_default', { 'id': row.getId()}) }}" />  {# parameter unset is added via JS #}
     {% else %}
        <input type="hidden" data-state="set" data-href="{{ path('admin_billing_plan_product_set_default', { 'id': row.getId()}) }}" />  {# parameter unset is added via JS #}
    {% endif %}
{% endblock %}

{% block cell_initialPrice %}
    {{ value|localizedcurrency(get_setting('currency')) }}
{% endblock %}

{% block cell_details %}
 <a href="{{ path('admin_billing_plan_tabs',{'productId':row.getProduct().getId(),'id':row.getId()}) }}" class="button-small pull-right margin-right-10">Get details</a>
{% endblock %}