{% extends('AdminBundle::BlogArticle/base.html.twig') %}

{% block pageTitle %}
    New blog article
{% endblock %}

{% block pageBody %}
    <div class="box box-new-form">

        <h2 class="header-h2 form-title">
            {%  block formTitle %}
                New blog article
            {% endblock %}
        </h2>

        <div class="row">
            <div class="span-none-padding-medium-24">
                {% if error is defined %}
                    <div id="error">{{ error }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% block formRow %}
                {{ form_start(form, {'attr': {'class': 'new-form'}} ) }}
                {{ form_errors(form) }}

                {{ form_row(form.title) }}
                {{ form_row(form.handle) }}
                {{ form_row(form.dateToPublish, {'attr': {'class': 'dateSelect'}}) }}
                {{ form_row(form.products) }}
                {{ form_row(form.content) }}

                {{ form_row(form.submit, {'attr': {'class': 'button create'}} ) }}

                {{ form_end(form) }}
            {% endblock %}
        </div>


    </div>

{% endblock %}