<div class="contentProduct-productIndex">
    <table class="grid">
        <thead>
        <tr>
            <th>Product</th>
            <th>Order number</th>
            <th>Delay[hours]</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for contentProduct in contentProducts %}
            <tr>
                <td><a href="{{ path("admin_product_tabs", {"id": contentProduct.product.id}) }}#tab2">{{ contentProduct.product.name }}</a></td>
                <td>{{ contentProduct.orderNumber }}</td>
                <td>{{ contentProduct.delay }}</td>
                <td><a href="{{ path("admin_content_content_product_tabs", {"id": contentProduct.id}) }}#tab2">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if(is_granted('ROLE_ADMIN_CONTENT_PRODUCT_EDIT')) %}
        <div class="span-none-padding-xlarge-24 margin-auto">
            <div class="row">
                <div class="info-empty-form">
                    <a class="button button-addNew" id="newIcon" href="{{ path('admin_content_content_product_new', { 'id':content.id }) }}">
                        Add to product
                    </a>
                </div>
            </div>
        </div>

    {% endif %}
</div>
