{% extends('AdminBundle::adminBase.html.twig') %}

{% block pageIcon %}
    <i class="tiecons tiecons-video"></i>
{% endblock %}

{% block pageTitle %}
    Contents
{% endblock %}

{% block pageBody %}
    {% if is_granted('ROLE_ADMIN_CONTENT_PRODUCT_EDIT') %}
        <a href="{{ path("admin_content_new", {"contentType":"pdf"}) }}" class="button">New pdf</a>
        <a href="{{ path("admin_content_new", {"contentType":"iframe"}) }}" class="button">New Iframe</a>
        <a href="{{ path("admin_content_new", {"contentType":"video"}) }}" class="button">New video</a>
        <a href="{{ path("admin_content_new", {"contentType":"mp3"}) }}" class="button">New mp3</a>
        <a href="{{ path("admin_content_new", {"contentType":"html"}) }}" class="button">New html</a>
        <a href="{{ path("admin_content_new", {"contentType":"group"}) }}" class="button">New group</a>
    {% endif %}

    <div class="wrapper-grid">
        <ul>
            {% for content in contents %}
                <li>
                    {{ content.type }} <a href="{{ path('admin_content_tabs', {'id': content.id})}}"> {{ content.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}